.abc{
    color: blue;
}

#abc{
    color: red;
}

table{
    background-color: aliceblue;
}

.yotou{
    color: red;
}

#rikken{
    color: blue;
}

#ishin{
    color: lightgreen;
}

#kokumin{
    color: orange;
}

#kyousan{
    color: rgb(161, 45, 45);
}

#syamin{
    color: darkblue;
}

#reiwa{
    color: plum;
}
