.header {
    color: #fff;
    background: #000;
    padding: 10px 20px 10px 20px;
}
.main {
    width: 1042px;
    border: 1px tomato solid;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 500px;
    border: 1px lightblue solid;
    display: flex;
    margin: 10px;
}
.thumb {
    width: 125px;
    height: 125px;
    padding: 1px;
    border: #BABABA solid 1px;
    overflow: hidden;
}
.thumb img {
    width: 100%;
}
.textWrap {
    width: 360px;
    margin-top: 20px;
    margin-left: 10px;
}
.textWrap .ttl {
    font-size: 14px;
    border-bottom: #333 dotted 1px;
    margin-bottom: 5px;
}
.textWrap .ext {
    font-size: 12px;
}