$textColor: tomato;

@mixin wrapBox($w: 300px, $m: 20px, $p: 20px) {
  width: $w;
  margin: $m;
  padding: $p;
  border: solid 1px tomato;
}

body {
  background: $textColor;
}
.wrap {
  @include wrapBox(500px, 10px, 40px);
  p {
    color: $textColor;
  }
  a {
    display: block;
    &:link,
    &:visited {
      text-decoration: none;
    }
    &:hover {
      background: #000;
    }
  }
}
.box {
  @include wrapBox();
}
